<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Auth</title>
    <script src="/alasql.min.js"></script>
    <script src="/xlsx.core.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <% include nav %>
    <div class="container" style="position:fixed;">
      <div id="header-alerts">
          <% if (typeof alerts !== 'undefined') { %>
            <% for (key in alerts) { %>
              <% alerts[key].forEach(function(message){ %>
                <div class="alert alert-<%=key%>"> <%= message %></div>
               <% }) %>
            <% } %>
          <% } %>
      </div>
    </div>
    <div class="container-fluid">
      <%- body %>
    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script.js"></script>
  </body>
</html>
